*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: white;
}
#main{
    width: 80%;
}
h1{
    background-color: black;
    color: white;
}
ul{
    padding: 0px;
    list-style: none;
}
li{
    display: inline-block;
    background-color: rgb(226, 185, 50);
    text-align: center;
    padding: 3px;
    border-radius: 3px;
}
a, a:active{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(209, 58, 58);
}
#ft{
    background-color: black;
}
@media screen and (max-width:1024px){
    #main{
        width: 100%;
    }
}
@media screen and (max-width:768px){
    #main{
        width: 95%;
    }
}
@media screen and (max-width:600px){
    #main{
        width: 85%;
    }
}
.more{
    color: red;
}

